@using KeyifyWebClient.Core.Models
@model FretboardWebModel

<head>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script lang="en" type="text/javascript">

        function ResetModel() {
            $.ajax({
                url: '@Url.Action("Index")',
                datatype: 'json',
                async: 'false',
                contentType: "application/json",
                type: "Get",
                success: function (data) {
                    $("#Fretboard").html(data);
                }
            });
        }

        function GoHome() {
            $.ajax({
                url: '@Url.Action("Index", "Home")',
                datatype: 'json',
                async: 'false',
                contentType: "application/json",
                type: "Get",
                success: function (data) {
                    $("#Fretboard").html(data);
                }
            });
        }

        function UpdateModel(note, addNote, scale) {

            var dataPost = { selectedNotes: GenerateControllerMethodParams(note, addNote), selectedScale: scale };

            //Note: Ensure that the ajax parameters are entirely neccessary
            //      https://stackoverflow.com/questions/2558870/asp-net-mvc-jquery-ajax-input-parameters-are-null
            $.ajax({
                url: '@Url.Action("UpdateFretboardModel")',
                async: 'false',
                type: "POST",
                data: dataPost,
                datatype: "json",
                success: function (data) {
                    $("#Fretboard").html(data);
                }
            });
        }

        function GenerateControllerMethodParams(note, addNote) {

            var noteArray = new Array();

            @foreach (var note in Model.SelectedNotes)
            {
                @:noteArray.push("@note");
            }

            if (note != null && note != '') {
                if (addNote === true) {
                    noteArray.push(note);
                }

                if (addNote === false) {
                    for (var i = 0; i < noteArray.length; i++) {
                        if (noteArray[i] === note) {
                            noteArray.splice(i, 1);
                        }
                    }
                }
            }

            return noteArray;
        }
    </script>
</head>

<body>

    @if (Model.SelectedScale != null)
    {
        <h1>@Model.InstrumentName Fretboard (@Model.SelectedScale?.UserReadableLabel)</h1>
    }
    else
    {
        <h1>@Model.InstrumentName Fretboard</h1>
    }

    @*<span style="padding-left:15px; background-color: rgba(255, 255, 255, 0.4) !important;">Select notes on the Fretboard below</span>
        <br />
        <br />*@

    <table class="fretboard">
        <tr>
            @for (int count = 0; count < Model.GetFretCount(); count++)
            {
                if (count == 0)
                {
                    <th class="fretboardHeading"></th>
                    continue;
                }

                <th class="fretboardHeading">
                    @count
                </th>
            }
        </tr>

        @foreach (var instrumentString in Model.Fretboard.InstrumentStrings)
        {
            <tr>
                @foreach (var note in instrumentString.Notes)
                {
                    if (Model.SelectedScale != null)
                    {
                        if (note.InSelectedScale && note.Selected)
                        {
                            <td class="selectedNoteSelectedScale" onclick="UpdateModel('@note.Note', false, '@Model.SelectedScale?.ScaleLabel')">
                                @note.Note
                            </td>
                            continue;
                        }
                        else if (note.InSelectedScale && !note.Selected)
                        {
                            <td class="noteSelectedScale" onclick="UpdateModel('@note.Note', true, '@Model.SelectedScale?.ScaleLabel')">
                                @note.Note
                            </td>
                            continue;
                        }
                    }
                    if (note.Selected)
                    {
                        <td class="selectedNote" onclick="UpdateModel('@note.Note', false, '@Model.SelectedScale?.ScaleLabel')">
                            @note.Note
                        </td>
                        continue;
                    }

                    <td class="defaultNote" onclick="UpdateModel('@note.Note', true, '@Model.SelectedScale?.ScaleLabel')">
                        @note.Note
                    </td>
                }
            </tr>
        }
    </table>

    @if (!Model.Scales.Any())
    {
        <div style="padding-left: 15px">
            <br />
            <button onclick="ResetModel()">Reset</button>
            <button onclick="GoHome()">Back</button>
        </div>
    }

    <div class="scaleResults">
        @if (Model.Scales.Any())
        {
            if (Model.SelectedNotes.Count > 0)
            {
                if (Model.Scales.Count > 1)
                {
                    <br />
                    <h2>@Model.Scales.Count Matching Scales (Containing: <span style="color:green; background-color: rgba(52, 255, 152, 0.4);">@string.Join(' ', Model.SelectedNotes)</span>)</h2>
                }
                else if (Model.SelectedScale != null)
                {
                    <br />
                    <h2>1 Scale Selected (Notes Selected: <span style="color:green; background-color: rgba(52, 255, 152, 0.4);">@string.Join(' ', Model.SelectedNotes)</span>)</h2>
                }
            }

            foreach (var scale in Model.Scales)
            {
                if (scale.Value.Selected)
                {
                    <span><a class="scaleResultSelected" onclick="UpdateModel(null, false, '')">@scale.Value.UserReadableLabel&nbsp;</a></span>
                    continue;
                }

                <span><a class="scaleResult" onclick="UpdateModel(null, false, '@scale.Value.UserReadableLabel')">@scale.Value.UserReadableLabel&nbsp;</a></span>
            }

            <br />
            <br />
            <button onclick="ResetModel()">Reset</button>
            <button onclick="GoHome()">Back</button>

        }
    </div>
</body>