@{
    @model Keyify.Web.Models.ViewModels.InstrumentViewModel
    @Html.AntiForgeryToken()
}

<!-- Don't remove instrument links from here, the selected notes aren't updated on the layout page-->
<div class="instrumentHyperlinkContainer">
    <div id="copyQuickLinkHeader">
        <a class="copyToClipboard" onclick="copyContent('@Model.QuickLinkCode')">Copy Results Link 🔗</a>
        <a class="copyToClipboard" onclick="Reset('@Url.Action("UpdateFretboardModel")', null , null , null)">Reset All 🔄</a>
    </div>
    <div id="instrumentHyperlinkHeaderList">
        <a class="instrumentHyperlink" onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Bass")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">Bass</a>
        <a class="instrumentHyperlink" onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Guitar")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">Guitar</a>
        <a class="instrumentHyperlink" onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Mandolin")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">Mandolin</a>
        <a class="instrumentHyperlink" onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Ukulele")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">Ukulele</a>
    </div>
</div>
<div>
    <table class="fretboard center">
        <tr>
            @for (int count = 0; count < Model.Fretboard.FretCount; count++)
            {
                if (count == 0)
                {
                    <th class="fretboardHeading" style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;"></th>
                    continue;
                }

                <th class="fretboardHeading" style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                    @count
                </th>
            }
        </tr>
        @{
            if (!Model.IsSelectionLocked)
            {
                @foreach (var instrumentString in Model.Fretboard.InstrumentStrings)
                {
                    <tr>
                        @foreach (var note in instrumentString.Notes)
                        {
                            if (Model.SelectedScale != null)
                            {
                                if (note.InSelectedScale && note.Selected)
                                {
                                    <td class="note selectedNoteSelectedScale" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">
                                        <span class="nonSelectable noteText">@note.Sharp</span> <span class="nonSelectable degreeText">@note.DegreeInScale</span>
                                    </td>
                                    continue;
                                }
                                else if (note.InSelectedScale && !note.Selected)
                                {
                                    <td class="note noteSelectedScale" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">
                                        <span class="nonSelectable noteText">@note.Sharp</span> <span class="nonSelectable degreeText">@note.DegreeInScale</span>
                                    </td>
                                    continue;
                                }
                            }
                            if (note.Selected)
                            {
                                <td class="note selectedNote" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">
                                    <span class="nonSelectable noteText">@note.Sharp</span>
                                </td>
                                continue;
                            }

                            <td class="note defaultNote" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">
                                <span class="nonSelectable noteText">@note.Sharp</span>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                @foreach (var instrumentString in Model.Fretboard.InstrumentStrings)
                {
                    <tr>
                        @foreach (var note in instrumentString.Notes)
                        {
                            if (note.InSelectedScale)
                            {
                                <td class="note lockedNoteSelectedScale" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson , @Model.IsSelectionLockedJson)">
                                    <span class="nonSelectable noteText">@note.Sharp</span> <span class="nonSelectable degreeText">@note.DegreeInScale</span>
                                </td>
                                continue;
                            }

                            <td class="note defaultNote">
                                <span class="nonSelectable noteText">@note.Sharp</span>
                            </td>
                        }
                    </tr>
                }
            }
        }
    </table>
</div>

<div class="scaleResults center">
    <div id="infoBar">
        <div>
            <h6>
                @{
                    if (Model.IsSelectionLocked)
                    {
                        @Model.ChordPopularityIconLegend
                    }
                    else
                    {
                        @Model.ScalePopularityIconLegend
                    }
                }
            </h6>
        </div>
        <div>
            <h6 style="text-align:center;">
                @Html.Raw(Model.LockChordHtml)
            </h6>
        </div>
        <div>
            <h6 style="text-align:right;">
                @{
                    if (Model.IsSelectionLocked)
                    {
                        @Html.Raw(Model.LockedScale)
                    }
                    else
                    {
                        @Model.AvailableKeysAndScalesLabel
                    }
                }
            </h6>
        </div>
    </div>
</div>

<div class="scaleResults center">
    <div id="tablesDiv">
        @if (Model.IsSelectionLocked)
        {
            @Html.Raw(Model.AvailableChordDefinitionsTableHtml)
        }
        else
        {
            @Html.Raw(Model.AvailableKeysAndScalesTableHtml)
        }
    </div>
</div>