<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/InstrumentPage.css" rel="stylesheet" />
</head>
<body>
    <header>
        <span class="instrumentHyperlink">@Html.ActionLink("Bass", "Index", "Bass", null, new { style = "text-decoration:none;" })</span>
        <span class="instrumentHyperlink">@Html.ActionLink("Guitar", "Index", "Guitar", null, new { style = "text-decoration:none;" })</span>
        <span class="instrumentHyperlink">@Html.ActionLink("Mandolin", "Index", "Mandolin", null, new { style = "text-decoration:none;" })</span>
        <span class="instrumentHyperlink">@Html.ActionLink("Ukulele", "Index", "Ukulele", null, new { style = "text-decoration:none;" })</span>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.5.1.min.js"></script>
</body>
</html>