@using KeyifyWebClient.Core.Models
@model InstrumentViewModel
<body>
    @if (Model.SelectedScale != null)
    {
        <h1>@Model.InstrumentName Fretboard (@Model.SelectedScale?.UserReadableLabel)</h1>
    }
    else
    {
        <h1>@Model.InstrumentName Fretboard</h1>
    }

    <div id="instrumentHyperlinkHeaderList">
        <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Model.SelectedScale?.ScaleLabel', 'Bass')">Bass</a></span>
        <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Model.SelectedScale?.ScaleLabel', 'Guitar')">Guitar</a></span>
        <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Model.SelectedScale?.ScaleLabel', 'Mandolin')">Mandolin</a></span>
        <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Model.SelectedScale?.ScaleLabel', 'Ukulele')">Ukulele</a></span>
    </div>

    <div>
        <table class="fretboard">
            <tr>
                @for (int count = 0; count < Model.GetFretCount(); count++)
                {
                    if (count == 0)
                    {
                        <th class="fretboardHeading"></th>
                        continue;
                    }

                    <th class="fretboardHeading">
                        @count
                    </th>
                }
            </tr>
            @foreach (var instrumentString in Model.Fretboard.InstrumentStrings)
            {
                <tr>
                    @foreach (var note in instrumentString.Notes)
                    {
                        if (Model.SelectedScale != null)
                        {
                            if (note.InSelectedScale && note.Selected)
                            {
                                <td class="selectedNoteSelectedScale" onclick="UpdateModel('@note.Note', false, '@Model.SelectedScale?.ScaleLabel')">
                                    @note.Note
                                </td>
                                continue;
                            }
                            else if (note.InSelectedScale && !note.Selected)
                            {
                                <td class="noteSelectedScale" onclick="UpdateModel('@note.Note', true, '@Model.SelectedScale?.ScaleLabel')">
                                    @note.Note
                                </td>
                                continue;
                            }
                        }
                        if (note.Selected)
                        {
                            <td class="selectedNote" onclick="UpdateModel('@note.Note', false, '@Model.SelectedScale?.ScaleLabel')">
                                @note.Note
                            </td>
                            continue;
                        }

                        <td class="defaultNote" onclick="UpdateModel('@note.Note', true, '@Model.SelectedScale?.ScaleLabel')">
                            @note.Note
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <div class="scaleResults">
        @if (Model.Scales.Any())
        {
            if (Model.SelectedNotes.Count > 0)
            {
                if (Model.Scales.Count > 1 && Model.SelectedScale == null)
                {
                    <br />
                    <h2>@Model.Scales.Count Matching Scales (Containing: <span style="color:green; background-color: rgba(52, 255, 152, 0.4);">@string.Join(' ', Model.SelectedNotes)</span>)</h2>
                }
                if (Model.Scales.Count > 1 && Model.SelectedScale != null)
                {
                    <br />
                    @*@Model.SelectedScale?.ColloquialNameLabel*@
                    <h2>@(Model.Scales.Count - 1) Matching Scales (Containing: <span style="color:green; background-color: rgba(52, 255, 152, 0.4);">@string.Join(' ', Model.SelectedNotes)</span>) (Selected Scale: <span style="color: darkblue; background-color: rgba(30, 144, 225, 0.4);">@Model.SelectedScale?.UserReadableLabel </span>)</h2>
                }
                else if (Model.SelectedScale != null)
                {
                    <br />
                    <h2>0 Scales Found (Notes Selected: <span style="color:green; background-color: rgba(52, 255, 152, 0.4);">@string.Join(' ', Model.SelectedNotes)</span>) (Selected Scale: <span style="color: darkblue; background-color: rgba(30, 144, 225, 0.4);">@Model.SelectedScale?.UserReadableLabel</span>)</h2>
                }
            }

            foreach (var scale in Model.Scales)
            {
                if (scale.Value.Selected)
                {
                    if (!string.IsNullOrWhiteSpace(scale.Value.ColloquialNameLabel))
                    {
                        <span><a class="scaleResultSelected" onclick="UpdateModel(null, false, '')">@scale.Value.ColloquialNameLabel&nbsp;</a></span>
                    }
                    else
                    {
                        <span><a class="scaleResultSelected" onclick="UpdateModel(null, false, '')">@scale.Value.UserReadableLabel&nbsp;</a></span>
                    }

                    continue;
                }

                @if (!string.IsNullOrWhiteSpace(scale.Value.ColloquialNameLabel))
                {
                    <span><a class="scaleResultSelected" onclick="UpdateModel(null, false, '@scale.Value.ScaleLabel')">@scale.Value.ColloquialNameLabel&nbsp;</a></span>
                }
                else
                {
                    <span><a class="scaleResult" onclick="UpdateModel(null, false, '@scale.Value.ScaleLabel')">@scale.Value.UserReadableLabel&nbsp;</a></span>
                }
            }
        }
    </div>

    <script lang="en" type="text/javascript">

        function UpdateModel(note, addNote, scale) {

            var dataPost = { selectedNotes: GenerateArrayWithNewNote(note, addNote), selectedScale: scale };

            $.ajax({
                url: '@Url.Action("UpdateFretboardModel")',
                async: 'true',
                type: "POST",
                data: dataPost,
                datatype: "json",
                success: function (data) {
                    $("#Fretboard").html(data);
                }
            });
        }

        function GenerateArrayWithNewNote(note, addNote) {

            var noteArray = new Array();

            @foreach (var note in Model.SelectedNotes)
            {
                @:noteArray.push("@note");
            }

            if (note != null && note != '') {
                if (addNote === true) {
                    noteArray.push(note);
                }

                if (addNote === false) {
                    for (var i = 0; i < noteArray.length; i++) {
                        if (noteArray[i] === note) {
                            noteArray.splice(i, 1);
                        }
                    }
                }
            }

            return noteArray;
        }

        function GenerateArray() {

            var noteArray = new Array();

            @foreach (var note in Model.SelectedNotes)
            {
                @:noteArray.push("@note");
            }

            return noteArray;
        }

        function ChangeInstrument(scale, newInstrument) {

            var instrumentUrl = '/' + newInstrument + '/UpdateFretboardModel/';

            var dataPost = { selectedNotes: GenerateArray(), selectedScale: scale };

            $.ajax({
                url: instrumentUrl,
                async: 'true',
                type: "POST",
                data: dataPost,
                datatype: "json",
                success: function (data) {
                    $("#Fretboard").html(data);
                }
            });
        }

    </script>
</body>