@using KeyifyWebClient.Models.ViewModels
@model InstrumentViewModel

@if (Model.SelectedScale != null)
{
    <h1>@Model.InstrumentName Fretboard (@Model.SelectedScale?.UserReadableLabelIncludingColloquialism_Sharp)</h1>
}
else
{
    <h1>@Model.InstrumentName Fretboard</h1>
}

<!-- Don't remove instrument links from here, the selected notes aren't updated on the layout page-->

<div id="instrumentHyperlinkHeaderList" style="padding-top:5px;">
    <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Bass")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson)">Bass</a></span>
    <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Guitar")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson)">Guitar</a></span>
    <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Mandolin")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson)">Mandolin</a></span>
    <span class="instrumentHyperlink"><a onclick="ChangeInstrument('@Url.Action("UpdateFretboardModel", "Ukulele")','@Model.SelectedScale?.ScaleLabel', @Model.SelectedNotesJson)">Ukulele</a></span>
</div>
<div>
    <table class="fretboard">
        <tr>
            @for (int count = 0; count < Model.Fretboard.FretCount; count++)
            {
                if (count == 0)
                {
                    <th class="fretboardHeading" style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;"></th>
                    continue;
                }

                <th class="fretboardHeading" style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                    @count
                </th>
            }
        </tr>
        @foreach (var instrumentString in Model.Fretboard.InstrumentStrings)
        {
            <tr>
                @foreach (var note in instrumentString.Notes)
                {
                    if (Model.SelectedScale != null)
                    {
                        if (note.InSelectedScale && note.Selected)
                        {
                            <td class="selectedNoteSelectedScale" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson)">
                                @Html.Label(note.Sharp, note.Sharp, new { style = "-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer;" })
                            </td>
                            continue;
                        }
                        else if (note.InSelectedScale && !note.Selected)
                        {
                            <td class="noteSelectedScale" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson)">
                                @Html.Label(note.Sharp, note.Sharp, new { style = "-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer;" })
                            </td>
                            continue;
                        }
                    }
                    if (note.Selected)
                    {
                        <td class="selectedNote" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson)">
                            @Html.Label(note.Sharp, note.Sharp, new { style = "-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer;" })
                        </td>
                        continue;
                    }

                    <td class="defaultNote" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@Model.SelectedScale?.ScaleLabel', '@note.Note', @Model.SelectedNotesJson)">
                        @Html.Label(note.Sharp, note.Sharp, new { style = "-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer;" })
                    </td>
                }
            </tr>
        }
    </table>
</div>

<div class="scaleResults">
    <h2>
        @Model.AvailableScalesLabel
    </h2>
    <div id="tablesDiv">
        <div id="leftTableDiv">
            <table>
                <tr>
                    <td>
                        @foreach (var scaleGroups in Model.Even_Index_AvailableScaleGroups)
                        {
                            <span>
                                <span class="scaleResult">(@scaleGroups.NotesGroupingLabel)</span>
                                @foreach (var scale in scaleGroups.GroupedScales)
                                {
                                    <a class="scaleResult" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@scale.ScaleLabel', null, @Model.SelectedNotesJson)">
                                        @scale.UserReadableLabelIncludingColloquialism_Sharp&nbsp;
                                    </a>
                                }
                                <br />
                            </span>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div id="rightTableDiv">
            <table>
                <tr>
                    <td>
                        @foreach (var scaleGroups in Model.Odd_Index_AvailableScaleGroups)
                        {
                            <span>
                                <span class="scaleResult">(@scaleGroups.NotesGroupingLabel)</span>
                                @foreach (var scale in scaleGroups.GroupedScales)
                                {
                                    <a class="scaleResult" onclick="UpdateModel('@Url.Action("UpdateFretboardModel")', '@scale.ScaleLabel', null, @Model.SelectedNotesJson)">
                                        @scale.UserReadableLabelIncludingColloquialism_Sharp&nbsp;
                                    </a>
                                }
                                <br />
                            </span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>