@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="fretboard">
        <tr>
            @foreach(var i in Model.Notes)
            {
                <td>
                    @Html.Label(i.Item1)
                    @Html.CheckBox(i.Item2)
                </td>
            }
        </tr>
    </table>

    @Html.HiddenFor(m => m.Fretcount)
    @Html.HiddenFor(m => m.Tuning)

    <button type="submit">Add Notes</button>
}