@using System.Text
@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="fretboard">
        <tr>
            @foreach (var n in Model.Notes)
            {
                <td>
                    @Html.Label(n.Text)
                    @Html.CheckBoxFor(model => model.Notes.Single(list => list.Equals(n)).Selected, n.Selected)
                </td>
            }
        </tr>
    </table>

    @Html.HiddenFor(m => m.Fretcount)
    @Html.HiddenFor(m => m.Tuning)
    @Html.HiddenFor(m => m.Notes)

    <button type="submit">Add Notes</button>
}